@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body,div,*,span,button,input,select,option,h1,h2,h3,td,tr,table{
  font-family:'Roboto', Arial, Helvetica, sans-serif;
}
.button-pannel{
	position: absolute;
	left: 980px;
	top:100px;
	/*border: 1px solid grey;*/
}
.button-pannel div{
  margin-bottom: 10px;
}


.pre-veiw{
	/*border: 1px solid grey;*/
	position: absolute;
}
.wrapper-pre-view{
	/*border: 1px solid grey;*/
	position: relative;
	display: flex;
	justify-content: center;
	height: 500px;
	overflow: hidden;
}
.pre-view{
	position: relative;
	height: 400px;
	margin-top: 100px;
	overflow: hidden;
}
.pre-view-image2{
	width: 600px;
}
.pre-view-image2{
	width: 600px;
	margin-top: -475px;
}
.data-form input{
  padding: 10px;
}
.data-form input:focus{
  border:1px solid red;
}
@media screen and (max-width: 860px){
  .button-pannel{
    display: flex;
    justify-content: space-around;
    position: fixed; 
    top:0;
    left:0;
    width: 100%;
  }
  .data-form input{
  font-size:20px;
}
  .pre-view{
    display: none;
  }
  .wrapper-pre-view{
    height: 100%;
    margin:100px;
  }
  .popup{
    margin:auto;
    font-size:36px;
  }
  .fog{
    display: flex;
  }
  .action-button{
    width: 200px;
    padding: 20px;
    font-size:36px;
  }
}
