div{
	border:1px solid brown;
}
.row{
	border:1px solid blue;
}
.container{
	border:1px solid green;
}
html{
	font-size: 10px;
}
.constructor-item{
	position:relative;
	overflow: hidden;
}
.image-item{
	width:200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center;
	position: absolute;
	z-index: -1;
}
.description-item{
	color:#3cb2e4;
	font-size: 2rem;
}