div{
	border:1px solid brown;
}
.row{
	border:1px solid blue;
}
.container{
	border:1px solid green;
}
html{
	font-size: 10px;
}
.constructor-item{
	position:relative;
	overflow: hidden;
}
.image-item{
	width:200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center;
	position: absolute;
	z-index: -1;
}
.description-item{
	color:#3cb2e4;
	font-size: 1.5rem;
	padding:1rem;
	width:200px;
}
.buttons-item{
	width:100px;
	padding:1rem;
	input{
		opacity: 0;		
	}
	label{
		border: 2px solid #3cb2e4;
		width:2rem;
		height:2rem;
		display: block;
	}
	div {display:flex;}
}