table{
  margin:auto;
}
input[type="range"]{
  opacity: 0.5;
  padding: 0;
}
input[type="radio"]{
  padding: 0;
  height: 0;
  width: 0;
  margin:0;
}
td{
  /*border:1px solid grey;*/
  padding: 0;
  padding-bottom: 5px;
  width: 50px;
}
.wallpaper_constructor-container{
  padding: 10px;
  display: flex;
}

/*========= CONTENT ==========*/

.wallpaper_constructor-content{
  /*border:1px solid lime;*/
  padding: 10px;
}
.constractor-navigation_wrapper{
  padding: 10px;
}
.constractor-navigation span{
  cursor: pointer;
}
.constractor-navigation span:hover{
  text-decoration: underline;
}
.constructor_wall{
  /*border:1px solid lightseagreen;*/
  position: relative;
  height: 500px;
  width: 750px;
}
.wall-vertical_section{
  height: 33.33%;
  display: flex;
}
.wall-horizontal_section{
  position: relative;
}
.constructor_curtain{
  position: relative;
  display: none;
  background:rgba(250,250,250,0.5);
}
.constructor-wallpaper{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  border:1px solid lightslategrey;
  box-sizing: border-box;
}
.constructor-wallpaper img{
  height: 100%;
  width: 100%;
}
.range_vertical-wrapper{
  /*border:1px solid red;*/
  position: absolute;
  top:0;
  left: 50%;
  height: 100%;
}
.range_size{
  display: none;
}
#range_vertical{
  height: 100% !important;
}
#range_vertical span::after{
  content:'\21D5';
  font-size: 36px;
  position: absolute;
  top:40px;
  left: 10px;
  color:orange;
}
.range_horisontal-wrapper{
 /*border:1px solid blue;*/
 position: absolute;
 top:50%;
 left: 0;
 width: 100%;
}
#range_horisontal{
  width: 100% !important;
  height: 10px !important;
}
#range_horisontal span::after{
  content:'\21D4';
  font-size: 36px;
  position: absolute;
  top:20px;
  right: 20px;
  color:orange;
  background: red;
}
.ui-slider{
  border:none !important;
  background: transparent !important;
}
.ui-slider-range{
  background: transparent !important;
}
.ui-slider-handle{
  height: 40px !important;
  width:  40px !important;
  border:none !important;
  background: transparent !important;
  cursor: pointer !important;
  outline: none !important;
}



/*========= SIDEBAR ==========*/
.wallpaper_constructor-sidebar{
  /*border:1px solid yellow;*/
  padding: 10px;
  min-width: 300px;
}

input[name="input_size"]{
  width: 50px;
  height: 20px;
  padding: 0;
  text-align: center;
  background: rgba(0,0,0,0.1);
}
input[name="input_size"]:focus{
  background: rgba(0,0,0,0);

}