input[type="radio"],
input[name="wallSize"],
input[type="checkbox"] {
  margin:0;
  padding: 0;
  width: auto;
  height: auto;
}
.construcror-container{
  display: flex;
}
.constractor-content{
}
.constructor-sidebar{
  /*border:1px solid yellow;*/
}
.wall_wrapper{
  position: relative;
  height: 600px;
  width: 800px;
  display: flex;
}

.wallpaper{
  margin:auto;
  height: 100%;
  width: 100%;
  background-image: url(../img/wallpaper/12087.jpg);
  background-size: cover;
}
.wall{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.wallpaper-roll{
  height: 100%;
  border-right: 2px dashed transparent;
  border
}
.constractor-navigation_wrapper{
  padding: 10px;
  width:100%;
}
.constractor-navigation span{
  cursor: pointer;
}
.constractor-navigation span:hover{
  text-decoration: underline;
}

/*===== SIDEBAR =====*/
.sidebar-item{
  width: 200px;
  padding: 10px;
}
.sidebar-item_title{
  color:grey;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
}
.sidebar-item_content{
  padding: 10px;
}
.sidebar-item_content input{
  opacity: 0;
}
.checkbox-label,
.radio-label{
  transition-duration: 1s;
  border: 5px solid grey;
  border-radius: 50%;
}
.checkbox-label{
  border-radius: 0;
  display: inline-block;
}
.checkbox-label_active,
.radio-label_active{
  transition-duration: 1s;
}
.wall-size_wrapper{
  border:2px solid grey;
  padding: 0;
  margin:0;
  position: relative;
  width: 150px;
}
input[name="wallSize"] {
  padding: 0;
  margin:0;
  line-height: 0;
  width: 150px;
}
.wall-size_slider{
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  top:0;
}
.wall-size_text{
  line-height: 1em;
}