
.wallpaper-galery_item-button{
  color:#FFFDF8;
}
.wallpaper_constructor-button:hover,
.sidebar-category:hover,.wallpaper-galery_item-button:hover,
.sidebar-subcategory:hover{
  background-color: #56B3FF;
}
.wallpaper-galery_item-icon,.wallpaper-galery_image-name,
.wallpaper-navigation,.constractor-navigation{
  color:#51C8FF;
}
.wallpaper_constructor-calc, .wallpaper_constructor-button,
.category-icon,.wallpaper-galery_item-button,
.radio-label_actve,.checkbox-label_active{
  background-color: #51C8FF;
}
.radio-label,.checkbox-label{
 border-color:#51C8FF;
}