#searchInput{
  padding-left: 10px;
}
.flex-block{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.wallpaper-container{
 padding-top: 10px;
}

/*===== SIDEBAR =====*/

.wallpaper-sidebar{
  margin-right: 20px;
  line-height: 1em;
}
.sidebar-category{
 transition-duration: 0.5s;
 display: flex;
 justify-content: flex-start;
 padding: 10px;
 cursor: pointer;
}
.category-icon{
  display: flex;
  line-height: 0;
  padding:0;
  margin:0;
  background-color: blue;
}
.category-icon img{
  width:20px;
}
.sidebar-category div,
.sidebar-subcategory div{
  margin:auto;
  margin-left: 20px;
  margin-right: 0;
}
.sidebar-subcategory_list{
  display: none;
}
.sidebar-subcategory{
  transition-duration: 0.5s;
  cursor: pointer;
  display: flex;
  padding: 10px;
  margin-left: 20px;
}
.sidebar-category:hover,
.sidebar-subcategory:hover{
  transition-duration: 0.5s;
}
.wallpaper-posts_item{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
}
.wallpaper-posts_image{
  width: 250px;
}
.wallpaper-posts_title{
  text-align: center;
  font-weight:bold;
}

/*==== CONTENT =====*/

.wallpaper-content{
  width: 900px;
}
.wallpaper-navigation_wrapper{
  display: flex;
  height: 40px;
}
.wallpaper-navigation{
  margin:auto;
  margin-left: 0;
}
.wallpaper-navigation span{
  cursor: pointer;
}
.wallpaper-navigation span:hover{
  text-decoration: underline;
}
.filter-block{
  padding:10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 1em;
}
.filter-block_half{
  padding:20px;
  padding-top:0;
  text-align: center;
}
.filter-block select{
  background-color: rgba(0,0,0,0.05);
  border-radius: 5px;
  height: 40px;
  width: 200px;
  color: black;
  text-align: center;
}
.filter-block option{
  padding: 5px;
  color: black;
  background-color: white;
}
.filter-block_select-wrapper{
  position: relative;
}
.filter-block_select-wrapper::before{
  position: absolute;
  line-height: 0;
  content: "\203A";
  font-size: 36px;
  transform: rotate(90deg);
  top:20px;
  right: 20px;
  z-index: -1;
  color: grey;
}
.wallpaper-galery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wallpaper-galery_item-wrapper{
  /*border:1px solid green;*/
  width: 450px;
  height: 450px;
  display: flex;
}
.wallpaper-galery_item{
  transition-duration: 1s;
  /*border:1px solid blue;*/
  position: relative;
  margin:auto;
  width: 420px;
  height: 420px;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}
.wallpaper-galery_item:hover{
  transition-duration: 1s;
  width: 440px;
  height: 440px;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
}
.wallpaper-galery_item-wallpaper{
  /*border:1px solid black;*/
  position: absolute;
  top:0;
  left: 0;
  height: 70%;
  width: 100%;
  /*background-image: url('../img/wallpaper/wallpaper-image.jpg');*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.wallpaper-galery_item-interior{
  /*border:1px solid red;*/
  position: absolute;
  top:0;
  left: 0;
  height: 70%;
  width: 100%;
  /*background-image: url('../img/interior/interior-image.png');*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.wallpaper-galery_item-container{
  /*border:1px solid yellow;*/
  margin:auto;
  margin-top: 0;
  width: 400px;
}
.wallpaper-galery_item-info{
  /*border:1px solid yellow;*/
  position: absolute;
  bottom:0;
  left: 0;
  height: 30%;
  width: 100%;
  line-height: 1em;
  display: flex;
}
.wallpaper-galery_item-article{
  color: grey;
  margin:auto;
}
.wallpaper-galery_item-cart{
  width: 40px;
  height: 40px;
  position: relative;
}
.wallpaper-galery_item-check{
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top:0;
  left: 0;
  opacity: 0;
}
.wallpaper-galery_item-icon{
  transition-duration: 1s;
  font-size: 36px;
  margin:auto;
  cursor: pointer;
  /*border:1px solid grey;*/
}
.wallpaper-galery_item-icon:hover{
  transition-duration: 1s;
}
.wallpaper-galery_item-remove{
  display: none;
}
.wallpaper-galery_image-name,
.wallpaper-galery_new-price{
  font-size: 20px;
  line-height: 1.2em;
}
.wallpaper-galery_item-button{
  transition-duration: 1s;
  padding:10px;
  cursor: pointer;
  border-radius: 1px;
  font-weight: bold;
  border-radius: 5px;  
}
.wallpaper-galery_item-button:hover{
  transition-duration: 1s;
}
.wallpaper-galery_old-price{
  color: grey;
  text-decoration: line-through;
  font-size: 16px;
}
.wallpaper-galery_item-category{
  display: flex;
  justify-content: flex-start;
  color:grey;
  padding:10px;
}
.wallpaper-galery_item-category span{
  line-height: 1em;
}

.wallpaper-galery_item-discount{
  position: absolute;
  bottom:30%;
  left: 0;
  padding:15px;
  background-color: orange;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.wallpaper-cart{
  cursor: pointer;
  position: fixed;
  right: 0;
  top:50vh;
  background-color: orange;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding:10px;
}
.wallpaper-cart_icon,
.wallpaper-cart_counter{
  padding:5px;
  font-size: 24px;
  text-align: center;
  line-height: 1em;
  font-weight:bold;
}
.wallpaper-cart_counter{
  font-size: 18px;
}
.wallpaper-cart_icon{
  border-bottom: 2px solid white;
}
.wallpaper-cart_image{
  transition-duration: 1s;
  position: absolute;
  bottom:50px;
  right: 25px;
  height: 0%;
}
.wallpaper-cart_image-active{
  position: absolute;
  bottom:0px;
  right: 0px;
  height: 500%;
  opacity: 0.2;
}


@media screen and (max-width: 800px){
  .wallpaper-sidebar{
    display: none;
  }
}
@media screen and (max-width: 450px){
  .wallpaper-galery_item-wrapper{
    width: 320px;
    height: 320px;
  }
  .wallpaper-galery_item{
    width: 300px;
    height: 300px;
  }
  .wallpaper-galery_item:hover{
    width: 300px;
    height: 300px;
  }
  .wallpaper-galery_item-article{
    font-size: 10px;
  }
  .wallpaper-galery_item-icon{
  font-size: 24px;
}
.wallpaper-galery_image-name,
.wallpaper-galery_new-price{
  font-size: 16px;
}
.wallpaper-galery_old-price{
  font-size: 12px;
}
.wallpaper-galery_item-category{
  padding:0;
  padding-left: 10px;
  font-size: 10px;
}

