@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body,div,*,span,button,input,select,option,h1,h2,h3,td,tr,table{
  font-family:'Roboto', Arial, Helvetica, sans-serif;
}
body{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	line-height: 0;
	font-size: 16px;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	/*background-color: rgba(0,0,0,0.5);*/
}
h1{
	padding: 0;
	margin:0;
}
div{
	/*border:1px solid red;*/
}
input[type='text']{
	border: 1px solid #3cb2e4;
	border-radius: 5px;
}
.content{
	display: flex;
	flex-wrap: wrap;
	/*border:1px solid red;*/
}
.backing{
	position: absolute;
	width: 600px;
	height: 600px;
	background-image: url("images/narrows.png");
	background-position: center;
	background-repeat:no-repeat;
	background-size:contain;
	z-index: -2;
	opacity: 0.5;
}
.overlay-backing{
	position: absolute;
	width: 600px;
	height: 650px;
	/*background-color: rgba(0,0,0,0.9);*/
	z-index: -3;
	opacity: 0.5;
}
.field{
	width: 600px;
	height: 600px;
}
.item{
	/*border:1px solid blue;*/
	/*transition-duration: 0.1s;*/
	position: absolute;
	top:170px;
	left:50px;
	width: 500px;
	height: 500px;
	z-index: -1;
	background-repeat: no-repeat; 
	background-size: contain;
	background-position: center;
	opacity: 1;
}
.template{
	position: static;
	margin:50px;
	width: 500px;
	height: 500px;
	background-repeat: no-repeat; 
	background-size: contain;
	background-position: center;
	opacity: 0.8;
	filter: invert(20%);
	/*border:1px solid red;	*/
}
.header{
	display:flex;
	z-index: 1;
  height: 119px;
}
.template-tape-wrapper{
  height: 101px;
  width: 100vw;
  background-color: rgba(0,0,0,0.2);
}
.template-tape{
  margin:auto;
  margin-left: 50px;
  margin-right: 50px;
}
/*.template-tape{
	display:flex;
	width: 100%;
	overflow-x: scroll;
	border: 1px solid #3cb2e4;
  }*/
  .template-tape-item{
   display: inline-block;
   cursor: pointer;
   background-color:  #3cb2e4;
   /*width: 100px !important;*/
 }
 .template-tape-item-image{
   margin: auto;
   width: 100px;
   height: 100px;
 }
 .sidebar{
   background-color: white;
 }
 .wrap-option{
   margin: 1em;
   line-height: 1em;
   /*border: 1px solid yellow;*/
 }
 .sign{
   padding: 1em;
   line-height: 1em;
   font-weight:normal;
   font-size: 1.1em;
   /*color: rgba(0,0,0,0.8);*/
 }
 .sign-blue{
   width: 15em;
   margin-bottom: 1em;
   padding: 1em;
   line-height: 1em;
   font-weight:normal;
   font-size: 1.1em;
   background-color: #3cb2e4;
   color: white;
   border-radius: 10px;
 }
 .option{
   display: inline-block;
   position: static;
   line-height: 1.2em;
   /*border: 1px solid blue;*/
 }
 .input-range{
   width: 600px;
   display: flex;
   justify-content: center;
   line-height: 1em;
   margin-bottom: 1em;
   margin-top:-1em;
 }
 .transform-block{
  background-color: white;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.transform{
 display: flex;
 justify-content: flex-start;
 flex-wrap: nowrap;
 line-height: 1em;
 background-color:white;
}
.transform-item{
 margin:1em;
}
.footer{
 width: 100%;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 background-color:  #3cb2e4;
}
.flex-wrapper{
 min-width:50%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.action-button,.simple-button{
  transition-duration: 0.5s;
 background-color:  transparent;
 font-weight: bolder;
 color: white;
 cursor: pointer;
 margin:auto;
 margin-left: 0;
 margin-right: 0;
 line-height: 1em;
 text-align: center;
 padding: 1em;
 border-radius: 5px;
}
@keyframes move {
  from { 
   bottom:15%;
 }
 to { 
  bottom:15%;
}
50%{
  bottom:16%;
}
}
#backButton{
  transition-duration: 0.5s;
  position: fixed;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
  bottom: 15%;
  right: 5%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  animation-name:move;
  animation-duration:2s;
  animation-iteration-count:10000;
  z-index: 11;
}
#backButton div{
  margin:auto;
}
#backButton:hover{
  transition-duration: 0.5s;
}
.close-button{
	transition-duration: 0.5s;
	padding: 1em;
	line-height: 1em;
	cursor: pointer;

}
.close-button:hover{
	transition-duration: 0.5s;
	box-shadow: 0 0 10px rgba(0,0,0,0.9);
	border-radius: 1em;
	transform: rotate(90deg);
}
.wrapper-button{
	
	display: flex;
	/*background-color: rgba(0,0,0,0.1);*/
}
.action-button:hover{
  transition-duration: 0.5s;
}
.simple-button:hover{
  transition-duration: 0.5s;
}
.icon{
	color: #3cb2e4;
}
.fog{
	display: none;
	top:0;
	position: fixed;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
  z-index: 11;
}
.popup{
	display: none;
	padding: 10px;
	background-color: rgba(250,250,250,0.9);
	margin:auto;
	/*margin-left: 20%;
	margin-top:10%;*/
	box-shadow: 0 0 10px rgba(0,0,0,0.9); /* Параметры тени */
}
.drop-zone-input{
	padding-left:  100px;
	padding-bottom:  150px;
	background-image: url('images/dropzone.png');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
}
.favorite-list-item{
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	min-width: 10em;
}
.favorite-list-item-text,.favorite-delete{
	line-height: 40px;
	padding: 5px;
	/*border:1px solid red;*/
}
.favorite-list-item:hover{
	background-color:  #3cb2e4;
}
.discount{
	color:white;
	padding: 1em;
	height: 3em;
	border-radius: 5em;
	line-height: 1.5em;
	text-align: center;
	background-color:  #3cb2e4;
}
#progress-backing{
	position: fixed;
	top:0;
	left: 0;
	height: 100vh;
	width:100vw;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	z-index: 10;
	display:none;
}
#progress-wrapper{
	margin:auto;
}
.data-form-item{
	margin:1em;
}
.busket-anime{
	display: none;
	position: fixed;
	bottom: 5%;
	right: 0px;
	height: 20%;
	width: 20%;
	background-image: url('images/busket-anime.png');
	background-size:contain;
	background-position:top;
	background-repeat:no-repeat;
	background-color: transparent;
}
.busket-counter{
	color:red;
}
input[type="radio"]{
  opacity: 0;
  box-sizing: border-box;
  line-height: 0;
  padding: 0;
  margin:0;
}
.radio-label,.radio-label_active{
  border:5px solid #3cb2e4;
  border-radius: 100%;
  box-sizing: border-box;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: white;
}
.radio-label_active{
  background-color: #3cb2e4;
}
input[type="range"]{
  margin:0;
  opacity: 0;
}
#range-vidget{
  position: relative;
  border:2px solid #3cb2e4;
  margin-left: 1em;
  margin-right: 1em;
}
#range-slider{
  top:0;
  height: 0;
  position: absolute;
  background-color: #3cb2e4;
  height: 100%
}
.swich-selector_block{
  position: absolute;
  bottom:10px;
  left: 0;
  width: 100vw;
  display: none;
  justify-content: flex-start;
}
.swich-selector input{
  position: absolute;
}
.swich-selector{
  transition-duration: 1s;
  position: relative;
  display: inline-block;
  border:2px solid #3cb2e4;
  padding: 30px;
  font-size: 50px;
  color:#3cb2e4;
  margin-left: 20px;
}
.swich-selector_active{
  transition-duration: 1s;
  color:white;
  background-color: #3cb2e4;
}
@media screen and (max-width: 800px){
  .sidebar,
  .transform-block,
  .footer{
    background-color: white;
    position: absolute;
    z-index: 10;
    top:-1000px;
    width: 100vw;
    min-height: 75vh;
  }
  .swich-selector_block{
    display: flex;
  }

  .transform-block fieldset{
   margin:50px;
  }
  .transform{
    display:block;
  }
  .action-button{
    width: 90vw;
  }
  .input-range span{
    display:none;
  }
  input[type="range"]{
    width: 400px;
  }
}