
#backButton,.simple-button,.header-menu_button,
.template-tape-item,.sign-blue,.radio-label_active,
.header-top,.header-menu,.footer {
  background-color:#51C8FF;
}
.header-info_icon-large,.header-info_icon{
  color:#51C8FF;
}
#range-vidget,.radio-label,.radio-label_active{
border-color:#51C8FF;
}
#range-slider{
background-color: #51C8FF;
}
.header-top a,.footer *,.header-menu a,#backButton,
.simple-button,.sign-blue{
  color:#FFFDF8;
}
#backButton:hover,.header-menu a:hover,.company-name:hover,
.action-button:hover,.simple-button:hover,
.button-search:hover,.item-list:hover{
  background-color: #388BFF;
}